<div class="container">
  <h1>Pipes</h1>
  <hr>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Result</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{name}}</td>
        <td> uppercase </td>
        <td> {{ name | uppercase }}</td>
      </tr>
      <tr>
        <td>{{name}}</td>
        <td> lowercase </td>
        <td> {{ name | lowercase }}</td>
      </tr>
      <tr>
        <td>{{name}}</td>
        <td> slice:3 </td>
        <td> {{ name | slice:3 }}</td>
      </tr>
      <tr>
        <td>{{name}}</td>
        <td> slice:0:4 </td>
        <td> {{ name | slice:0:4 }}</td>
      </tr>
      <tr>
        <td>{{numbersList}}</td>
        <td> slice:1:6 </td>
        <td> {{ numbersList | slice:1:6 }}</td>
      </tr>
      <tr>
        <!-- {minIntegerDigits}.{minFractionDigits}-{maxFractionDigits}. -->
        <td>{{PI}}</td>
        <td> number:'0.1-5' </td>
        <td> {{ PI | number:'0.1-5' }}</td>
      </tr>
      <tr>
        <!-- {minIntegerDigits}.{minFractionDigits}-{maxFractionDigits}. -->
        <td>{{PI}}</td>
        <td> number:'3.0-0' </td>
        <td> {{ PI | number:'3.0-0' }}</td>
      </tr>
      <tr>
        <!-- {minIntegerDigits}.{minFractionDigits}-{maxFractionDigits}. -->
        <td>{{PI}}</td>
        <td> number:'1.0-2' </td>
        <td> {{ PI | number:'1.0-2' }}</td>
      </tr>
    </tbody>
  </table>
  <h4>Slice Example with ngFor</h4>
  <ul>
    <li *ngFor="let item of numbersList | slice:5:20"> {{ item }}</li>
  </ul>
  
</div>>