<div class="animated fadeIn" *ngIf="hero.name.length > 0 && hero.img != ''">
  <img class="card-img-top" [src]="hero.img" [alt]="hero.name">
  <div class="card-body">
    <h5 class="card-title">{{ hero.name }}</h5>
    <p class="card-text"> {{ hero.bio }}</p>
    <p class="card-text">
      <small class="text-muted">Release date: {{ hero.release }}</small>
    </p>
    <button type="button" (click)="viewHeroDetails(i)" class="btn btn-outline-primary btn-block">Ver más...</button>
  </div>
</div>