<h1>
  {{ selectHero.name | uppercase }} - <small> {{ selectHero.release | date: 'y' }}</small>
</h1>

<div class="row animated fadeIn fast">
  <div class="col-md-4">
    <img [src]="selectHero.img" [alt]="selectHero.name" class="img-fluid"/>
    <br><br>
    <button type="button" (click)="returnToList()" class="btn btn-outline-danger btn-block">{{ 'HERO.RETURN_TO_HEROES' | translate}}</button>
  </div>
  <div class="col-md-8">
      <h3>
        {{ selectHero.name }}
      </h3>
      <hr>
      <p>
        {{ selectHero.bio }}
      </p>
      <div>
        <img *ngIf="selectHero.company == 'DC'" src="assets/img/dc.png" class="img-logo">
        <img *ngIf="selectHero.company == 'Marvel'" src="assets/img/marvel.png" class="img-logo">
      </div>
  </div>
</div>
