<h1 class="animated fadeIn">Albums
    <small>New releases</small>
</h1>

<hr>

<div class="card-columns">
    <ng-template ngFor let-album [ngForOf]="albums" let-i="index">
        <div class="card fadeIn">
            <img class="card-img-top" [src]="album.images[0].url" [alt]="album.artists[0].name">
            <div class="card-body">
                <h5 class="card-title"> {{ album.name }} - {{ album.release_date }}</h5>
                <p class="card-text">
                    <span class="badge badge-primary" *ngFor="let artist of album.artists">
                        {{ artist.name }}
                    </span>
                </p>
            </div>
        </div>
    </ng-template>
</div>