<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Movie DB App</h1>
    <p class="lead">Aplicación que contiene la información de muchas películas ;).</p>
  </div>
</div>
<div class="container main-container">
  <br/>

  <app-gallery [elements] = "cinemaListings|slice:0:6" title = "Películas en cartelera"></app-gallery>
  <app-gallery [elements] = "populars|slice:0:6" title = "Películas populares"></app-gallery>
  <app-gallery [elements] = "kids|slice:0:6" title = "Películas más popualres entre los niños"></app-gallery>

</div>
