<h3>Heroe <small>name...</small></h3>
<button class="btn btn-outline-danger" [routerLink]="['/heroes']">Regresar</button>
<hr>

<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <form (ngSubmit)="save()" #forma="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" class="form-control"
            required minlength="4" [(ngModel)]="heroe.name" #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
              <div *ngIf="name.errors.required">
                Name is required.
              </div>
              <div *ngIf="name.errors.minlength">
                Name must be at least 4 characters long.
              </div>
            </div>  
      </div>
      <div class="form-group">
        <label for="company">Company</label>
        <select class="form-control" id="company" [(ngModel)] ="heroe.company"
            [ngModelOptions]="{standalone: true}">
          <option value="Marvel">Marvel</option>
          <option value="DC">DC</option>
          <option value="">Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="bio">Biography</label>
        <textarea class="form-control" id="bio" rows="3" [(ngModel)] ="heroe.bio" [ngModelOptions]="{standalone: true}" required></textarea>
      </div>
      <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">Save</button>
      {{forma.valid}}
    </form>
  </div>
</div>



