<div class="row">
    <div class="col-md-4">
      <h3>Select files</h3>
      <div appNgDropZones [files]="files" (mouseOver)="stayOnElement = $event " [ngClass]="{ 'file-over': stayOnElement }" class="well drop-zone">
        <h4> Put files in this section </h4>
        <img src="assets/img/drop-images.png" />
      </div>
    </div>

    <div class="col-md-8">
      <h4> Load files </h4>
      <button class="btn btn-success" (click)="loadImages()" [disabled]="files.length === 0"> Load to Firebase</button>&nbsp;
      <button class="btn btn-danger" (click)="clickFiles()"> Clean </button>

      <table class="table">
        <thead>
          <tr>
            <th>Filename</th>
            <th>Size</th>
            <th>Progress</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor=" let file of files">
            <td>{{ file.archiveName }}</td>
            <td>{{ file.file.size / 1024 / 1024 | number: '.2-2' }} MB</td>
            <td>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{ 'width': file.progress + '%'}" [attr.aria-valuenow]="file.progress" aria-valuemin="0" aria-valuemax="100">
                  <span>{{ file.progress }}%</span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
