<div class="container main-container">
  <h1>Youtube App</h1>
  <hr/>
  <div class="row" *ngIf="videos.length > 0">
    <div class="col-md-4" *ngFor="let video of videos; let i = index;">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" [src]="video?.thumbnails.high.url" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ video?.title }}</h5>
          <button (click)="playVideo(video)" type="button" class="btn btn-block btn-outline-danger" data-toggle="modal" data-target="#exampleModal"> Show video </button>
        </div>
      </div>
    </div>
    <button (click)="loadMore(true)" type="button" class="btn btn-block btn-outline-danger text-center">
      Load more... </button>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" *ngIf="videos.length > 0" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ selectVideo.title}}
        </h5>
      </div>
      <div class="modal-body">
        <youtube-video *ngIf="selectVideo" [videoId]="selectVideo?.resourceId.videoId"></youtube-video>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="closeModal()" class="btn btn-primary">Close</button>
      </div>
    </div>
  </div>
</div>