<div class="container main-container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
      <label>Find:</label>
      <input [(ngModel)] = "search" class="form-control"
              name="search"
              (keyup.enter)="searchMovie()"
              type="text"
              placeholder="Search Movie">
      </div>
    </div>
  </div>
  <div class="card-columns">
    <div class="card" *ngFor="let result of _mtvshows.results">
      <img class="card-img-top" [src]="result|moviesPoster" [alt]="result.original_title">
      <div class="card-body">
        <h5 class="card-title">{{ result.title }}</h5>
        <p class="card-text">
          {{ result.overview | slice:0:250 }}
          <span *ngIf="result.overview">...</span>
        </p>
        <p class="card-text"><small class="text-muted">{{ result.release_date }}</small></p>
        <button type="button" (click)="viewResultDetails()" class="btn btn-outline-primary btn-block">Show details</button>
      </div>
    </div>
  </div>
</div>