<div class="container main-container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
      <label>Find:</label>
      <input [(ngModel)] = "search" class="form-control"
              name="search"
              (keyup.enter)="searchMovie()"
              type="text"
              placeholder="Search Movie">
      </div>
    </div>
  </div>
  <div class="row" *ngIf="_mtvshows.search != undefined">
    <h2 *ngIf="_mtvshows.search.total_results > 0">Results: {{ _mtvshows.search.total_results }} </h2>
    <div class="card-columns animated fadeIn fast">
      <div class="card" *ngFor="let result of _mtvshows.search.results">
        <img class="card-img-top" [src]="result|moviesPoster" [alt]="result.original_title">
        <div class="card-body">
          <h5 class="card-title">{{ result.title }}</h5>
          <p class="card-text">
            {{ result.overview | slice:0:250 }}
            <span *ngIf="result.overview">...</span>
          </p>
          <p class="card-text">
            <small class="text-muted">{{ result.release_date }}</small>
          </p>
          <button type="button" (click)="viewResultDetails(result.id)" class="btn btn-outline-primary btn-block">Show details</button>
        </div>
      </div>
    </div>
  </div>
  <!--<result-pagination *ngIf="_mtvshows.search.total_pages && _mtvshows.search.page" [totalPages]="_mtvshows.search.total_pages" [currentPage]="_mtvshows.search.page"></result-pagination>-->
  
</div>